form {
    padding: 1rem 2rem;
    width: 22rem;
    margin: 2rem;
    border-radius: 5px;
    height: 100%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

label {
    font-family: serif;
    font-size: 0.8rem;
}

p {
    width: 100%;
    margin-top: 0;
}

input {
    width: 95%;
    border: 1px solid #ccc;
    background: #f7f7f7;
    padding: 1rem;
    border-radius: 5px;
    resize: none;
    margin: 0.4rem auto 0;
    font-size: 1rem;
}

input:focus-visible {
    outline: none;
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
    background-color: #232323;
    color: #f6f6f6;
    font-size: 1rem;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
    margin-top: 2rem;
}

button:hover {
    background-color: #363636;
}
